@import url('./other-file.css');
.wrapper {
    height: 800px;
    text-align: center;
    background-color: aqua;
}
.container h1{
  padding: 40px;
}

.buttons
    {
    margin:100px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.user{
  background-color: red;
}