@import url('./other-file.css');
.page {
    background-color: aqua;
}

.input {
  display: block;
  text-align: center;
  height: 30%;
  
}
.buttons
    {
    margin:100px;
    text-align: center;
    padding: 0;
}
.buttons *{
  display: inline-block;
}

#result {
  display: grid;
  grid-template: repeat(2, 300px) /repeat(5, 1fr);
  grid-gap: 3px;}

.user{
  background-color: lightblue;
}
.user h2{
  padding-left: 25px;
  text-align: left;
}
.user p{
text-align: left;
align-items: center;
 padding-left: 25px;
}
